<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oneplatform.cms.dao.mapper.ArticleEntityMapper" >
  <resultMap id="BaseResultMap" type="com.oneplatform.cms.dao.entity.ArticleEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="view_count" property="viewCount" jdbcType="INTEGER" />
    <result column="comment_count" property="commentCount" jdbcType="INTEGER" />
    <result column="like_count" property="likeCount" jdbcType="INTEGER" />
    <result column="audited" property="audited" jdbcType="BIT" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="INTEGER" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>

   
   <select id="findListByQueryParam" parameterType="com.oneplatform.cms.dto.param.ArticleQueryParam" resultMap="BaseResultMap">
      SELECT a.* FROM cms_article a 
      <if test="specTargetId != null or specType != null">
        JOIN cms_spec_relations r ON a.id = r.artcle_id
      </if>  
      WHERE 1=1 
      <if test="categoryId != null">AND a.category_id = #{categoryId}</if> 
      <if test="audited != null">AND a.audited = #{audited}</if> 
      <if test="specTargetId != null">AND r.target_id = #{specTargetId}</if> 
      <if test="specType != null">AND r.target_type = #{specType}</if> 
      ORDER BY a.id desc
  </select>
   
</mapper>