<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oneplatform.cms.dao.mapper.CmsArticleEntityMapper" >
  <resultMap id="BaseResultMap" type="com.oneplatform.cms.dao.entity.CmsArticleEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="cover" property="cover" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="view_count" property="viewCount" jdbcType="INTEGER" />
    <result column="comment_count" property="commentCount" jdbcType="INTEGER" />
    <result column="like_count" property="likeCount" jdbcType="INTEGER" />
    <result column="audited" property="audited" jdbcType="BIT" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="INTEGER" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
  </resultMap>
  
   <select id="findListByQueryParam" parameterType="com.oneplatform.cms.dto.param.CmsArticleQueryParam"  resultMap="BaseResultMap">
	  SELECT  * FROM CMS_ARTICLE where 1=1
      order by id desc
   </select>
   
</mapper>