<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oneplatform.cms.dao.mapper.TagEntityMapper" >
  <resultMap id="BaseResultMap" type="com.oneplatform.cms.dao.entity.TagEntity" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="item_nums" property="itemNums" jdbcType="INTEGER" />
  </resultMap>
</mapper>