<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oneplatform.modules.system.dao.mapper.GrantRelationEntityMapper">
  <resultMap id="BaseResultMap" type="com.oneplatform.modules.system.dao.entity.GrantRelationEntity">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="source_type" jdbcType="CHAR" property="sourceType" />
    <result column="source_id" jdbcType="VARCHAR" property="sourceId" />
    <result column="target_type" jdbcType="CHAR" property="targetType" />
    <result column="target_id" jdbcType="VARCHAR" property="targetId" />
  </resultMap>
 
</mapper>