<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oneplatform.modules.system.dao.mapper.SubordinateRelationEntityMapper">
  <resultMap id="BaseResultMap" type="com.oneplatform.modules.system.dao.entity.SubordinateRelationEntity">
    <!--
      WARNING - @mbggenerated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="child_id" jdbcType="VARCHAR" property="childId" />
    <result column="child_name" jdbcType="VARCHAR" property="childName" />
    <result column="relation_type" jdbcType="CHAR" property="relationType" />
  </resultMap>

  <delete id="deleteByParentId">
    delete from subordinate_relations where parent_id = #{parentId}
  </delete>

  <delete id="deleteByChildId">
    delete from subordinate_relations where child_id = #{childId}
  </delete>
  
  <select id="findSubRelationByQueryParam" resultMap="BaseResultMap">
    select * from subordinate_relations
    where relation_type = #{relationType}
    <if test="parentId != null">and parent_id = #{parentId}</if>
    <if test="childId != null">and child_id = #{childId}</if>
  </select>

</mapper>