<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oneplatform.modules.system.dao.mapper.UserGroupEntityMapper">
	<resultMap id="BaseResultMap" type="com.oneplatform.modules.system.dao.entity.UserGroupEntity">
		<!-- WARNING - @mbggenerated -->
		<result column="id" jdbcType="INTEGER" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
		<result column="dept_id" jdbcType="VARCHAR" property="deptId" />
		<result column="dept_name" jdbcType="VARCHAR" property="deptName" />
		<result column="user_type" jdbcType="VARCHAR" property="userType" />
		<result column="is_default" jdbcType="BIT" property="isDefault" />
		<result column="is_display" jdbcType="BIT" property="isDisplay" />
		<result column="enabled" jdbcType="BIT" property="enabled" />
		<result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
		<result column="created_by" jdbcType="VARCHAR" property="createdBy" />
		<result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
		<result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
	</resultMap>



	<select id="findByQueryParam" resultMap="BaseResultMap">
		select * from user_group
		<where>
			<if test="tenantId != null">and tenant_id = #{tenantId}</if>
			<if test="departmentId != null">and department_id = #{departmentId}</if>
			<if test="enabled != null">and enabled = #{enabled}</if>
			<if test="name != null and name != ''">and name=#{name}</if>
		</where>
	</select>

	<select id="findGrantedUserGroups" resultMap="BaseResultMap">
		SELECT g.* ,s.name as system_name FROM user_group g JOIN
		subordinate_relations r ON g.id=r.parent_id
		left join biz_system s on s.id = g.system_id
		WHERE r.child_id=#{userId} AND r.relation_type='userToGroup' AND
		g.enabled=1
	    <if test="tenantId != null">and g.tenant_id = #{tenantId}</if>
	    <if test="user_type != null">and g.user_type = #{userType}</if>
		<if test="departmentId">
			UNION
			SELECT * FROM user_group g WHERE g.department_id=#{departmentId} 
	        <if test="tenantId != null">and g.tenant_id = #{tenantId}</if>  
			AND g.enabled=1
		</if>
	</select>
</mapper>