<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oneplatform.organization.dao.mapper.StaffEntityMapper">
  <resultMap id="BaseResultMap" type="com.oneplatform.organization.dao.entity.StaffEntity">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="CHAR" property="gender" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="id_type" jdbcType="INTEGER" property="idType" />
    <result column="id_no" jdbcType="VARCHAR" property="idNo" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="employ_type" jdbcType="INTEGER" property="employType" />
    <result column="entry_date" jdbcType="DATE" property="entryDate" />
    <result column="is_leader" jdbcType="BIT" property="isLeader" />
    <result column="account_id" jdbcType="VARCHAR" property="accountId" />
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
  </resultMap>
  
  <resultMap id="DetailsResultMap" type="com.oneplatform.organization.dto.StaffDetails" extends="BaseResultMap">
     <result column="department_code" jdbcType="VARCHAR" property="departmentCode" />
     <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
     <result column="postion_name" jdbcType="VARCHAR" property="postionName" />
  </resultMap>
  
  <sql id="staff_detail_base_sql">
     SELECT
       s.*,
       d.full_code as department_code,
       d.full_name as department_name,
       p.name as position_name
      FROM mdm_staff_basic s
      LEFT JOIN staff_departments sd ON sd.staff_id = s.id AND sd.is_primary = 1 and sd.enabled = 1
      LEFT JOIN department d ON sd.department_id = d.id
      LEFT JOIN position p ON sd.position_id = p.id
   </sql>
   
   <select id="findListByParam" resultMap="BaseResultMap">
        SELECT s.* FROM mdm_staff_basic s
        <where>
          <if test="name != null and name != ''">AND s.name=#{name}</if>
          <if test="email != null and email != ''">AND s.email=#{email}</if>
          <if test="mobile != null and mobile != ''">AND s.mobile=#{mobile}</if>
          <if test="code != null and code != ''">AND s.code=#{code}</if>
          <if test="idNo !=null and idNo !=''">AND s.id_no=#{idNo}</if>
          <if test="enabled != null">AND s.enabled=#{enabled}</if>
        </where>
    </select>

    <select id="findDetailsListByParam" resultMap="DetailsResultMap">
        <include refid="staff_detail_base_sql"></include>
        <where>
          <if test="name != null and name != ''">AND s.name=#{name}</if>
          <if test="email != null and email != ''">AND s.email=#{email}</if>
          <if test="mobile != null and mobile != ''">AND s.mobile=#{mobile}</if>
          <if test="code != null and code != ''">AND s.code=#{code}</if>
          <if test="idNo !=null and idNo !=''">AND s.id_no=#{idNo}</if>
          <if test="enabled != null">AND s.enabled=#{enabled}</if>
          <if test="departmentId != null and departmentId != ''">AND d.id=#{departmentId}</if>
          <if test="departmentName != null and departmentName != ''">
            AND d.full_name LIKE CONCAT('%',#{departmentName},'%')
          </if>
        </where>
    </select>
    
</mapper>