<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oneplatform.common.dao.mapper.UploadFileEntityMapper" >
  <resultMap id="BaseResultMap" type="com.oneplatform.common.dao.entity.UploadFileEntity" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="app_id" property="appId" jdbcType="VARCHAR" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="provider" property="provider" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_url" property="fileUrl" jdbcType="VARCHAR" />
    <result column="file_location" property="fileLocation" jdbcType="VARCHAR" />
    <result column="mime_type" property="mimeType" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
  </resultMap>
  
  <select id="findByParam" parameterType="com.oneplatform.common.dto.param.UploadQueryParam"  resultMap="BaseResultMap">
	  SELECT  * FROM upload_files where 1=1
	  <if test="groupName != null"> and group_name = #{groupName}</if>
	  <if test="provider != null"> and provider = #{provider}</if>
	  <if test="startDate != null"><![CDATA[ and created_at >= #{startDate}]]></if>
	  <if test="endDate != null"><![CDATA[ and created_at <= #{endDate}]]></if>
      order by id desc
   </select>
</mapper>