<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oneplatform.system.dao.mapper.AccountEntityMapper">
  <resultMap id="BaseResultMap" type="com.oneplatform.system.dao.entity.AccountEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile" jdbcType="CHAR" property="mobile" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="updated_by" jdbcType="VARCHAR" property="updatedBy" />
  </resultMap>
  
  <select id="findListByParam" resultMap="BaseResultMap">
    SELECT * FROM account 
    <where>
      <if test="name != null"> AND name = #{name}</if>
      <if test="email != null"> AND email = #{email}</if>
      <if test="mobile != null"> AND mobile = #{mobile}</if>
      <if test="enabled != null"> AND enabled = #{enabled}</if>
    </where>
  </select>
</mapper>