<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oneplatform.system.dao.mapper.ApiStatisticsEntityMapper" >
  <resultMap id="BaseResultMap" type="com.oneplatform.system.dao.entity.ApiStatisticsEntity" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="api_name" property="apiName" jdbcType="VARCHAR" />
    <result column="api_uri" property="apiUri" jdbcType="VARCHAR" />
    <result column="call_nums" property="callNums" jdbcType="INTEGER" />
    <result column="fail_nums" property="failNums" jdbcType="INTEGER" />
    <result column="stat_date" property="statDate" jdbcType="DATE" />
    <result column="min_use_time" property="minUseTime" jdbcType="INTEGER" />
    <result column="max_use_time" property="maxUseTime" jdbcType="INTEGER" />
  </resultMap>
</mapper>