<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oneplatform.system.dao.mapper.PermissionGroupEntityMapper" >
  <resultMap id="BaseResultMap" type="com.oneplatform.system.dao.entity.PermissionGroupEntity" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="platform_type" property="platformType" jdbcType="VARCHAR" />
    <result column="menu_id" property="menuId" jdbcType="INTEGER" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
    <result column="is_default" property="isDefault" jdbcType="BIT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="INTEGER" />
  </resultMap>
  
  <select id="findListByPlatform" parameterType="string" resultMap="BaseResultMap">
      select g.*,r.name as menu_name,r.uri as menu_uri from sys_permission_group g,sys_permission_resource r 
      where g.platform_type = #{platformType} 
      and g.menu_id = r.id
      order by id
   </select>
   
</mapper>