<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oneplatform.system.dao.mapper.PermissionResourceEntityMapper" >
  <resultMap id="BaseResultMap" type="com.oneplatform.system.dao.entity.PermissionResourceEntity" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="module_id" property="moduleId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="CHAR" />
    <result column="uri" property="uri" jdbcType="VARCHAR" />
    <result column="permission_code" property="permissionCode" jdbcType="VARCHAR" />
    <result column="button_code" property="buttonCode" jdbcType="VARCHAR" />
    <result column="http_method" property="httpMethod" jdbcType="CHAR" />
    <result column="grant_type" property="grantType" jdbcType="CHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="platform_type" property="platformType" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="INTEGER" />
  </resultMap>
  
  <select id="findListByParam" parameterType="com.oneplatform.system.dto.param.QueryResourceParam" resultMap="BaseResultMap">
      SELECT * FROM sys_permission_resource WHERE 1=1
	  <if test="parentId != null">AND parent_id = #{parentId}</if>
	  <if test="type != null">AND type = #{type}</if>
	  <if test="platformType != null">AND platform_type = #{platformType}</if>
	  <if test="moduleId != null">AND module_id = #{moduleId}</if>
	   <if test="grantType != null">AND grant_type = #{grantType}</if>
	   <if test="enabled != null">AND enabled = #{enabled}</if>
      order by id
   </select>
   
   
   <select id="findByPermGroupId" parameterType="int" resultMap="BaseResultMap">
      SELECT * FROM sys_permission_resource p where 1=1
      <if test="type != null">AND type = #{type}</if>
      AND exists (
        SELECT * FROM sys_subordinate_relations r where r.relation_type = 2 and p.id = r.child_id and r.parent_id = #{permGroupId}
      )
   </select>
   
    <select id="findRelateApiByUserGroupIds" parameterType="list" resultMap="BaseResultMap">
      SELECT * FROM sys_permission_resource p where type = 'api'
      AND exists (
        SELECT * FROM sys_subordinate_relations r where r.relation_type = 2 and p.id = r.child_id and r.parent_id in(
          SELECT source_id FROM sys_grant_relations where relation_type=4 and target_id IN 
          <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
           #{item}       
          </foreach>  
        )
      )
   </select>
   
   <select id="findRelateMenuByUserGroupIds" parameterType="list" resultMap="BaseResultMap">
      SELECT * FROM sys_permission_resource p where type = 'menu'
      AND exists (
        SELECT * FROM sys_permission_group g where p.id = g.menu_id and g.id in(
          SELECT source_id FROM sys_grant_relations where relation_type=4 and target_id IN 
          <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
           #{item}       
        </foreach>  
        )
      )
   </select>
   
   <select id="findByIds" parameterType="map" resultMap="BaseResultMap">
  	select * from sys_permission_resource where 1=1
      <if test="type != null">AND type = #{type}</if>
      AND id in
  	<foreach collection="ids" item="id" open="(" close=")" separator=",">#{id}</foreach>
  	order by id
  </select>
  
</mapper>