<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.oneplatform.system.dao.mapper.UserGroupEntityMapper" >
  <resultMap id="BaseResultMap" type="com.oneplatform.system.dao.entity.UserGroupEntity" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="platform_type" property="platformType" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
    <result column="is_default" property="isDefault" jdbcType="BIT" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="INTEGER" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="updated_by" property="updatedBy" jdbcType="INTEGER" />
  </resultMap>
  
  <select id="findListByParam" parameterType="com.oneplatform.system.dto.param.QueryUserGroupParam" resultMap="BaseResultMap">
      SELECT * FROM sys_user_group WHERE 1=1
	  <if test="platformType != null">AND platform_type = #{platformType}</if>
	  <if test="enabled != null">AND enabled = #{enabled}</if>
      order by id
   </select>
</mapper>